.article-category{
    &__head{
        @media (min-width: 768px){
            display: flex;
        }
    }
    &__img{
        margin: auto;
        text-align: center;
        max-width: 40vh;
        @media (min-width: 768px){
            min-width: 10rem;
            width: 10rem;
            margin: 0 40px 0 0;
        }
        img{
            border-radius: 4px;
        }
    }
    &__desc{
        color: #8d959d;
        line-height: 1.44;
        margin-top: 24px;
    }
    &__title{
        @media (min-width: 768px){
            max-width: 560px;
            height: 195px;
            display: flex;
            flex-direction: column;
        }
    }
}

// .section-title{
//     margin: 24px 0 0 0;
//     @media (min-width: 768px){
//         margin: 0;
//     }
// }