//colors
$primaryColor: #7d42f4;
$secondaryColor: #499cb8;
$textColor: #8d959d;

//fonts
$globalFont: 16px;
$sectionHeader: 32px;
$sectionHeaderColor: #000;
//spacing

//colors
$brandColor: #703db2;
$primaryGreen: #80c888;
$primaryBlue: #499cb8;
$bgLight: #f6f7fc;

$secondaryGray: #292929;
$secondaryDarkGray: #4f565e;
$secondaryLightGray: #8d959d;
$secondaryRed: #f8596c;

$tertiaryGray: #9b9b9b;
$tertiaryDarkGray: #878787;
$tertiaryLightGray: #acacac;
$tertiaryExtraLightGray: #d8d8d8;

//fonts
$globalFont: 16px;

//spacing